/* NAVBAR */
.navbar-custom {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #000;
    color: white;
    position: relative;
}

.logo {
    font-weight: 600;
    display: flex;
    align-items: center;
}

.dot {
    width: 10px;
    height: 10px;
    background: orange;
    border-radius: 50%;
    margin-right: 8px;
}

.spacer {
    flex: 1 1 auto;
    /* pushes items to the right */
}

.nav-links {
    display: flex;
    gap: 12px;
}

/* Menu button for mobile */
.menu-btn {
    color: white;
    margin-left: auto;
    /* push to right */
    display: none;
    /* hidden by default */
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

/* HERO */
.hero-section {
    padding: 10px 0;
    background: #f8f8f8;
}

.hero-title {
    font-size: 48px;
    font-weight: 800;
}

.hero-subtitle {
    color: #ff6a00;
}

.hero-img {
  width: 600px;
  border-radius: 8px;
}

/* ABOUT */
.about-section {
    margin-top: 0;
    background: #f8f8f8;
}

.about-card {
    background: #2f2f2f;
    padding: 40px;
}

.about-img {
  width: 250px;
  border-radius: 8px;
  
}

/* SERVICES */
.service-section {
    padding: 90px 0;
}

.service-card {
    padding: 30px;
    transition: all 0.3s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    align-items: center;
    text-align: center;
}

.service-card mat-icon {
    font-size: 48px;
    width: 48px;
    height: 48px;
}

.service-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 30px;
    margin-top: 20px;
}

.service-card:hover {
    transform: translateY(-6px);
    background-color: orange;
    color: #f7f6f2;
    border-radius: 10px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.18);
}

/* TIMELINE */
#timeline mat-card {
    width: 100%;
    height: 90%;
    border-radius: 14px;
    padding-bottom: 10px;
    transition: all 0.3s ease;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
    margin: 30px;
    border-left: 7px solid #ff9800;
}

#timeline mat-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 18px 40px rgba(0, 0, 0, 0.2);
}

#timeline mat-card-title {
    font-size: 18px;
    font-weight: 600;
    color: #4358ce;
    margin-left: 15px;
}

#timeline mat-card-subtitle {
    font-size: 17px;
    font-weight: 500;
    color: #ff9800;
    margin-left: 15px;
}

#timeline mat-card-content p {
    font-size: 16px;
    color: #555;
    margin-left: 15px;
}

#timeline .col-md-6 {
    display: flex;
}

/* SOCIAL ICONS */
.social-icons {
    display: flex;
    gap: 12px;
}

.social-icons a {
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 16px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.social-icons a:hover {
    transform: translateY(-3px);
}

.social-icons a:nth-child(1):hover {
    background: #0077b5;
}

.social-icons a:nth-child(2):hover {
    background: #333;
}

.social-icons a:nth-child(3):hover {
    background: #cc16a1;
}

/* CONTACT */
.contact-section {
    padding: 60px 20px;
    background: #f9f9f9;
}

.contact-wrapper {
    display: flex;
    gap: 50px;
    max-width: 1100px;
    margin: auto;
}

.contact-card {
    flex: 1;
    padding: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}

.contact-row {
    display: flex;
    align-items: flex-start;
    gap: 25px;
    line-height: 1.6;
}

.contact-row mat-icon {
    color: #ff9800;
    font-size: 28px;
    margin-top: 4px;
}

.contact-row strong {
    display: block;
    font-size: 15px;
}

.contact-row span {
    display: block;
    font-size: 14px;
    color: #555;
}

/* PROJECTS */
.projects-section {
    padding: 60px 20px;
    background: #f9f9f9;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 35px;
    max-width: 1100px;
    margin: auto;
}

.project-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

.project-card img {
    height: 220px;
    width: 340px;
    object-fit: cover;
}

.project-type {
    display: inline-block;
    font-size: 13px;
    color: #ff9800;
    font-weight: 600;
    margin-bottom: 8px;
}

.project-card h3 {
    margin: 8px 0;
    font-size: 18px;
}

.project-card p {
    font-size: 14px;
    color: #555;
}

/* Hover overlay */
.image-wrapper {
    position: relative;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    opacity: 0;
    transition: 0.3s;
}

.image-wrapper:hover .overlay {
    opacity: 1;
}

/* Dialog images */
.dialog-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.screenshot {
    width: 100%;
    border-radius: 8px;
}

/* FULL WIDTH INPUTS */
.full-width {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
    transform: translateY(-2px);
    box-shadow: 0 15px 35px rgba(200, 195, 195, 0.18);
}

/* SUCCESS MESSAGE */
.success-msg {
    margin-top: 15px;
    color: green;
    font-weight: 500;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
    .hero-img {
        width: 100%;
        max-width: 420px;
    }



    .projects-grid {
        padding: 20px;
    }
}

@media (max-width: 768px) {

    /* NAVBAR */
    .navbar-custom {
        flex-direction: row;
        padding: 10px 15px;
    }

    .nav-links {
        display: none;
    }

    .menu-btn {
        display: block;
        margin-left: auto;
    }

    /* HERO */
    .hero-section {
        padding: 40px 15px;
        text-align: center;
    }

    .hero-title {
        font-size: 28px;
    }

    .hero-img {
        width: 100%;
        max-width: 280px;
        margin-top: 25px;
    }

    /* ABOUT */
    .about-card {
        padding: 20px;
    }

    .about-img {
        width: 180px;
        margin-bottom: 20px;
    }

    /* SERVICES */
    .service-section {
        padding: 40px 15px;
    }

    .service-cards {
        padding: 10px;
    }

    /* PROJECTS */
    .projects-section {
        padding: 40px 15px;
    }

    .project-card img {
        width: 100%;
        height: auto;
    }

    /* TIMELINE */
    #timeline mat-card {
        margin: 10px 0;
    }

    #timeline .col-md-6 {
        flex-direction: column;
    }

    /* CONTACT */
    .contact-wrapper {
        flex-direction: column;
        gap: 20px;
    }

    .footer {
        background-color: #3f3d3c;
        color: white;
    }

    .footer-content {
        max-width: 1200px;
        /* 🔥 KEY FIX */
        margin: 0 auto;
        /* center container */
        padding: 10px 10px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .footer-content p {
        margin: 0;
        font-size: 14px;
        white-space: nowrap;
        /* prevent breaking */
    }

    .social-icons {
        display: flex;
        gap: 12px;
    }

    .social-icons a {
        color: white;
        font-size: 18px;
    }

    /* 📱 Mobile */
    @media (max-width: 768px) {
        .footer-content {
            flex-direction: column;
            text-align: center;
        }

        .footer-content p {
            white-space: normal;
        }
    }


    /* SOCIAL ICONS */
    .social-icons {
        justify-content: center;
    }
}
